#red {
    font-weight: normal;
  }
  #red {
    color: red;
  }

  #blue {
    color: blue;
  }
  #blue {
    font-weight: normal;
  }
  #orange {
    color: orange;
  }
  #orange {
    font-weight: normal;
  }
  #green {
    color: green;
  }
  #green {
    font-weight: normal;
  }
  #yellow {
    color: yellow;
  }
  #yellow {
    font-weight: normal;
  }
